USE [IPB2_OnlineBusBooking]
GO
/****** Object:  Table [dbo].[Tbl_Book]    Script Date: 03/25/2026 12:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Book](
	[ID] [varchar](100) NOT NULL,
	[ScheduleId] [varchar](100) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Phoneno] [varchar](50) NOT NULL,
	[Seatno] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_BusDetail]    Script Date: 03/25/2026 12:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_BusDetail](
	[ID] [varchar](100) NOT NULL,
	[BusNo] [varchar](10) NOT NULL,
	[BusName] [varchar](100) NOT NULL,
	[BusType] [varchar](20) NOT NULL,
	[TotalSeat] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Payment]    Script Date: 03/25/2026 12:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Payment](
	[ID] [varchar](100) NOT NULL,
	[BookId] [varchar](100) NOT NULL,
	[PaymentType] [varchar](100) NOT NULL,
	[Payment] [varchar](100) NOT NULL,
	[CardNo] [varchar](100) NOT NULL,
	[TotalAmount] [decimal](18, 0) NOT NULL,
	[Date] [date] NOT NULL,
	[IsDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Route]    Script Date: 03/25/2026 12:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Route](
	[ID] [varchar](100) NOT NULL,
	[RouteName] [varchar](100) NOT NULL,
	[Origin] [varchar](50) NOT NULL,
	[Destination] [varchar](50) NOT NULL,
	[IsDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Schedule]    Script Date: 03/25/2026 12:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Schedule](
	[ID] [varchar](100) NOT NULL,
	[BusId] [varchar](100) NOT NULL,
	[Date] [date] NOT NULL,
	[Fare] [int] NOT NULL,
	[ArrivalTime] [varchar](50) NOT NULL,
	[DepartureTime] [varchar](50) NOT NULL,
	[RouteId] [varchar](100) NOT NULL,
	[AvaliableSeat] [int] NOT NULL,
	[BookSeat] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
